---
import '../styles/global.css';

const pageTitle = 'about me'
const identity = {
  firstName: "rane",
  place: "denver, co",
  occupation: "software engineer",
  hobbies: ["running", "rock climbing", "building things"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>rane.dev | {pageTitle}</title>
	</head>
	<body>
        <a href="/">home</a>
		<a href="/about/">about</a>
		<a href="/blog/">blog</a>

		<h1>{pageTitle}</h1>

        <p>Hi 👋 my name is {identity.firstName}. I enjoy {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}. I'm a {identity.occupation} located in {identity.place}.</p>
	</body>
</html>