---
const pageTitle = 'About Me'
const identity = {
  firstName: "Rane",
  place: "Denver, CO",
  occupation: "Frontend Engineer",
  hobbies: ["running", "programming", "reading"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Puffy-Parsec | {pageTitle}</title>
	</head>
	<body>
        <a href="/">home</a>
		<a href="/about/">about</a>
		<a href="/blog/">blog</a>

		<h1>{pageTitle}</h1>

        <p>Hi 👋 my name is {identity.firstName}. I enjoy {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}. I'm a {identity.occupation} located in {identity.place}.</p>
		
		<p></p>
		
        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

	</body>
</html>